:root {
  --primary-text-color: #212121;
  --black-text-color: #000000;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --second-text-color: #757575;
  --hero-background: #2f303a;
  --primary-background: #ffffff;
  --second-background: #f5f4fa;
  --accent-background: #2196f3;
  --background-first: #2f303a;
  --background-second: #f5f4fa;
  --button-second-color: #188ce8;
  --icons-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background: var(--primary-background);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  margin: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  text-decoration: none;
}
.logo.logo--footer {
  display: flex;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .logo.logo--footer {
    text-align: start;
    justify-content: start;
  }
}

.logo__name {
  color: var(--black-text-color);
}
.logo__name--second {
  color: var(--white-text-color);
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-conteiner {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background);
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-conteiner {
    display: none;
  }
}

.menu-conteiner.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-conteiner__mob {
  position: relative;
  padding: 48px 40px;
}

.button-menu-mob--close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  line-height: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-menu-mob--close:focus, .button-menu-mob--close:hover {
  color: var(--accent-text-color);
}

.button-menu-mob__svg {
  fill: currentColor;
}

.main-nav-mob__list:not(:last-child) {
  margin-bottom: 32px;
}

.main-nav-mob__link {
  display: inline-flex;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav-mob__link:hover, .main-nav-mob__link:focus {
  color: var(--accent-text-color);
}

.auth-nav-mob__svg {
  display: none;
}

.auth-nav-mob {
  display: inline-flex;
  flex-direction: column-reverse;
  margin-top: 302px;
}

.auth-nav-mob__list {
  display: flex;
}

.auth-nav-mob__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  margin-bottom: 32px;
}

.auth-nav-mob__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav-mob__link--mail:hover, .auth-nav-mob__link--mail:focus {
  color: var(--accent-text-color);
}

.media-nav--mob {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 0px;
  padding: 0;
}

.media-nav__list {
  margin: 0;
  padding-right: 10px;
}
.media-nav__list:not(:first-child) {
  padding-left: 10px;
}
.media-nav__list + .media-nav__list {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.media-nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.page-header__conteiner {
  align-items: center;
  display: flex;
}

.main-nav {
  align-items: center;
  display: flex;
}
@media screen and (max-width: 767px) {
  .main-nav {
    justify-content: space-between;
  }
}

.main-nav__group {
  margin-left: 87px;
  display: flex;
}

.main-nav__link--page {
  color: var(--accent-text-color);
}

.main-nav__list + .main-nav__list {
  margin-left: 50px;
}

.main-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:focus, .main-nav__link:hover {
  color: var(--accent-text-color);
}

.auth-nav {
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 96px;
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin: 0;
    margin-left: 315px;
  }
}

.auth-nav__list:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .auth-nav__list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
  }
  .auth-nav__list:not(:last-child) {
    margin-right: 30px;
  }
}

.auth-nav__link {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:focus, .auth-nav__link:hover {
  color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.auth-nav__use {
  fill: currentColor;
}

.menu {
  display: flex;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    overflow-y: scroll;
    background-color: var(--primary-background);
  }
}

.button-menu--open {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  line-height: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .button-menu--open {
    display: none;
  }
}
.button-menu--open:hover, .button-menu--open:focus {
  color: var(--accent-text-color);
}

.button-menu__svg {
  fill: currentColor;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/header/Header480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../img/header/Header4802x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../../img/header/Header768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../img/header/Header7682x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../../img/header/header1200.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../img/header/header12002x.jpg);
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-background);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .benefits__group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__list {
  justify-content: center;
  align-items: center;
}
.benefits__list:not(:last-child) {
  margin-bottom: 30px;
}
.benefits__list::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--second-background);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.benefits__list--antenna::before {
  background-image: url(../img/icons.svg/antenna.svg);
}

.benefits__list--clock::before {
  background-image: url(../img/icons.svg/clock.svg);
}

.benefits__list--diagram::before {
  background-image: url(../img/icons.svg/diagram.svg);
}

.benefits__list--astronaut::before {
  background-image: url(../img/icons.svg/astronaut.svg);
}

.benefits__text {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.benefits__second-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-team {
  background-color: var(--background-second);
}

.our-team__group {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .our-team__group {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.our-team__list {
  background-color: var(--primary-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .our-team__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__list {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-team__list {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.our-team__conteiner {
  padding-top: 30px;
  padding-bottom: 16px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .our-team__conteiner {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__conteiner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.our-team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-team__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.our-team__icon {
  display: flex;
  margin: 0;
  padding-top: 0;
  padding-bottom: 24px;
  justify-content: center;
}

.our-team__list-icon:not(:last-child) {
  margin-right: 10px;
}

.our-team__link-icon {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--second-text-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__link-icon:focus, .our-team__link-icon:hover {
  background-color: var(--accent-background);
}
.our-team__link-icon:focus .our-team__svg, .our-team__link-icon:hover .our-team__svg {
  color: var(--white-text-color);
}

.our-team__svg {
  fill: currentColor;
}

.clients__group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__list {
  flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__list {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 210px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-background);
  border: 1px solid var(--accent-background);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__svg {
  fill: currentColor;
}

footer {
  background-color: var(--hero-background);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__conteiner {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.address {
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

.address__list {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.address__list:last-child {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address__list {
    justify-content: start;
  }
  .address__list:last-child {
    margin-bottom: 0px;
  }
}

.address__maps {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__maps:hover, .address__maps:focus {
  color: var(--accent-text-color);
}

.address__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contacts:hover, .address__contacts:focus {
  color: var(--accent-text-color);
}

.media-footer__text {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.media-footer__group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.media-footer__list:not(:last-child) {
  margin-right: 10px;
}

.media-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-footer__link:focus, .media-footer__link:hover {
  background-color: var(--accent-text-color);
}

.media-footer__svg {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .form-footer__mail {
    display: flex;
  }
}

.form-footer__text {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.form-footer__input {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-footer__input:focus, .form-footer__input:hover {
  border: 1px solid var(--accent-background);
}
@media screen and (min-width: 480px) {
  .form-footer__input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__input {
    min-width: 358px;
    margin: 0;
  }
}

.form-footer__button {
  padding: 10px 31px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--accent-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-footer__button:focus, .form-footer__button:hover {
  background-color: var(--button-second-color);
}
@media screen and (min-width: 1200px) {
  .form-footer__button {
    padding: 10px 28px;
    margin-left: 12px;
  }
}

.form-footer__svg {
  fill: currentColor;
  margin-left: 12px;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0);
  background-color: var(--primary-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden .backdrop__modal {
  transform: translateY(-100%) translate(-50%, -50%);
}
@media screen and (min-width: 480px) {
  .backdrop__modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop__modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: var(--black-text-color);
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__close:hover, .backdrop__close:focus {
  color: var(--accent-text-color);
}

.backdrop__svg {
  fill: currentColor;
  padding: 3px;
}

.form {
  width: 100%;
  display: block;
}

.form-text {
  padding: 40px;
}

.form-text__name {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__holder {
  padding: 11px 12px 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  color: var(--primary-text-color);
}
.form__holder:hover, .form__holder:focus {
  outline: none;
  border: 1px solid var(--accent-background);
}
.form__holder::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__name {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.form__holder--comment {
  padding: 12px 16px;
}
@media screen and (min-width: 480px) {
  .form__holder--comment {
    min-width: 370px;
    min-height: 120px;
  }
}

.form__modal {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.form__modal:not(:last-child) {
  margin-bottom: 10px;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.checkbox__form::before {
  content: "";
  display: flex;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-text-color);
  border-radius: 2px;
  cursor: pointer;
}
.checkbox__input:checked + .checkbox__form::before {
  background-image: url(../img/icons.svg/ok.svg);
  background-color: var(--accent-background);
  border: 2px solid var(--accent-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.checkbox__input:focus + .checkbox__form::before, .checkbox__input:hover + .checkbox__form::before {
  border: 2px solid var(--accent-background);
}
@media screen and (min-width: 1200px) {
  .checkbox__form {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 9px;
  }
}

.checkbox__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__submit {
  display: flex;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
}

.form__row {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__holder:hover + .form__icon, .form__holder:focus + .form__icon {
  fill: var(--accent-background);
}

.button-filter {
  margin-bottom: 40px;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .button-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-filter {
    margin-bottom: 50px;
  }
}

.button-filter__row {
  display: inline-flex;
  margin: -4px;
}
@media screen and (min-width: 768px) {
  .button-filter__row {
    display: flex;
    margin: 0;
  }
}

.button-filter__list {
  margin-bottom: 15px;
  margin-right: 8px;
}
.button-filter__row--last .button-filter__list {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .button-filter__list {
    margin-bottom: 0;
  }
}

.button-filter__name {
  color: var(--primary-text-color);
  background: var(--second-background);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter__name:hover, .button-filter__name:focus {
  color: var(--white-text-color);
  background-color: var(--accent-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__group {
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__group:hover, .portfolio__group:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__group {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__group {
    flex-basis: calc((100% - 90px) / 3);
  }
  .portfolio__group:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio__name {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .portfolio__name--tablet {
    padding: 20px 24px 56px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__name--tablet {
    padding: 20px 24px;
  }
}

.portfolio__our-job {
  text-decoration: none;
}
.portfolio__our-job:hover .portfolio__text, .portfolio__our-job:focus .portfolio__text {
  transform: translate(0, 0);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 77px 24px;
  transform: translate(0, 101%);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio__text {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__text {
    padding: 63px 24px;
  }
}

.portfolio__list-job {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio__list-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.galary {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .galary {
    display: none;
  }
}

.work-group {
  display: flex;
}

.work-group__list {
  position: relative;
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.work-group__list:nth-child(3n) {
  margin-right: 0;
}

.work-group__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */