footer {
  background-color: var(--hero-background);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width:1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__conteiner {
  @media screen and (min-width:768px) {
    display: flex;
  justify-content: space-around;
  align-items: baseline;
  
  }
  
}


.address {
  justify-content: center;
  text-align: center;

  @media screen and (min-width:1200px) {
    margin-right: 70px;
  }
  
}
.address__list {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;

  &:last-child {
    margin-bottom: 60px;
  }

  @media screen and (min-width:1200px) {
    justify-content: start;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.address__maps {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

}
.address__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }


}



.media-footer__text {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.media-footer__group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.media-footer__list {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.media-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: var(--accent-text-color);
  }
}
.media-footer__svg {
  fill: currentColor;
}

.form-footer__mail {
  @media screen and (min-width:1200px) {
    display: flex;
  }
}
.form-footer__text {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.form-footer__input {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-background);
  }
  @media screen and (min-width: 480px) {
    min-width: 450px;
    
  }
  @media screen and (min-width:1200px) {
    min-width: 358px;
    margin: 0;

  }
}

.form-footer__button {
  padding: 10px 31px;
  display: flex;
  margin-right: auto;
  margin-left: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--accent-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: var(--button-second-color);
  }

  @media screen and (min-width:1200px) {
    padding: 10px 28px;
    margin-left: 12px;
  }
}

.form-footer__svg {
  fill: currentColor;
  margin-left: 12px;
}

