:root {
  --primary-text-color: #212121;
  --black-text-color: #000000;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --second-text-color: #757575;
  --hero-background: #2f303a;
  --primary-background: #ffffff;
  --second-background: #f5f4fa;
  --accent-background: #2196f3;
  --background-first: #2f303a;
  --background-second: #f5f4fa;
  --button-second-color: #188ce8;
  --icons-color: #afb1b8;
}